<%- include('../partials/header'); %>

<main class="main main-actor-single container">
    <section class="section section-actor-single">
        <figure class="figure actor-single-figure">
            <img src="https://via.placeholder.com/450X550" alt="pladeholder img" class="img-fluid actor- single-img"/>
        </figcaption
        class= 'actor-single-figcap'><%= name %></figcaption>
        </figure>
    </section>
</main>

<%- incide('../partials/foooter'); %>