<%- include('../partials/header'); %>

    <main class="main main-home container">
        <section class="section section1">
            <h2 class ="header-h2">Lorem, ipsum dolor.</h2>
            <div class="content-div row">
                <div class="sec1-div col-md-6">
                    <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti aspernatur, facilis totam, consequuntur dolore impedit odit vero officia molestias architecto a facere. Velit, maxime ab.</p>
                </div>
                <div class="sec2-div">
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam facilis deleniti vitae saepe perspiciatis quasi ex vel autem asperiores eligendi voluptate, excepturi nisi. Deserunt, cum!</p>
                </div>
            </div>
        </section>
    </main>

<%- include('../partials/footer'); %>
  
</body>
</html>
